.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.letter-container {
  display: flex;
  white-space: nowrap;
}

.chat-container {
  width: fit-content;
  margin: auto;
}
